.products {
  .owl-carousel {
    margin-left: 0rem;
    position: relative;
  }
  .card {
    min-width: 15rem;
    &-body {
      ul {
        .list-group {
          &-item {
            &:nth-of-type(2) {
              max-height: 5rem;
            }
            div {
              min-width: 10rem;
              margin-left: -1.25rem;
              &:nth-of-type(1) {
                margin-left: -1.45rem;
              }
            }
            .fas, .far {
              color: #C3C3C3;
              cursor: pointer;
            }
            .product-reiting {
              p:nth-of-type(2) {
                color: #56ACDD;
                border-bottom: 1px dashed #56ACDD;
                cursor: pointer;
              }
            }
            .product-name {
              font-size: 0.8rem;
              min-height: 4.75rem;
            }
            .product-country {
              img {
                width: 1rem;
                height: 0.75rem;
              }
            }
          }
        }
      }
    }
  }
// Pseudo-class - BADGES
    .delivery, .lider, .storage, .exclusive {
      display: none;
      position: absolute !important;
      z-index: 1;
    }
    .storage {
      background-color: #2A6218;
    }
    .exclusive {
      background-color: #623C8B;
    }
   #shower, #bathtub {
      .delivery {
        display: block;
        top: 1rem;
        left: 2rem;
      }
      .lider {
        display: block;
        top: 2.5rem;
        left: 2rem;
      }
    }
    #toilet-bowl-2 {
      .delivery {
        display: block;
        top: 1rem;
        left: 6.5rem;
      }
      .lider {
        display: block;
        top: 2.5rem;
        left: 2rem;
      }
      .storage {
        display: block;
        top: 1rem;
        left: 2rem;
      }
    }
    #toilet-bowl-1 {
      position: relative;
      .lider {
        display: block;
        top: 1rem;
        left: 6.5rem;
      }
      .storage {
        display: block;
        top: 1rem;
        left: 2rem;
      }
      .exclusive {
        display: block;
        top: 2.5rem;
        left: 2rem;
      }
    }
}