section.container.articles
  article.row
    .col.mb-4
      h5.mt-4.mb-3 Дизайн - название инфоблока
      .media
        .media-body
          img(src="images/sink-articles-min.png" class="mr-4 mb-sm-4 img-fluid float-left" alt="article sink")
          | Grohe производит смесители и душевые гарнитуры для ванной комнаты и кухни, автоматические и электронные смесители общественного и коммерческого назначения, системы инсталляции и смыва для подвесной сантехники, системы скрытого настенного монтажа.
          br
          br
          | На долю Grohe AG приходится примерно 8 % мирового рынка.
          br
          br
          | В 2007 году объём продаж выпускаемой Grohe сантехнической арматуры для кухонь, ванн и душа, автоматической арматуры для коммерческого и общественного секторов, а также инсталляционных и смывных систем составил около 1,02 млрд евро.
          br
          br
          | У Grohe 6 производственных площадок, две из которых находятся за рубежом, в частности в Португалии и Таиланде. Компания реализует более 82 % выпускаемой продукции за пределами Германии. По всему миру на предприятиях Grohe работает около 5000 человек. 
  
  article.row
    .col
      hr

  article.row
    .col.mb-4
      h5.mt-4.mb-3 Технологии - название инфоблока 2
      .media
        .media-body
          img(src="images/sink-articles-min.png" class="ml-4 mb-sm-4 img-fluid float-right" alt="article sink")
          | Grohe производит смесители и душевые гарнитуры для ванной комнаты и кухни, автоматические и электронные смесители общественного и коммерческого назначения, системы инсталляции и смыва для подвесной сантехники, системы скрытого настенного монтажа.
          br
          br
          | На долю Grohe AG приходится примерно 8 % мирового рынка.
          br
          br
          | В 2007 году объём продаж выпускаемой Grohe сантехнической арматуры для кухонь, ванн и душа, автоматической арматуры для коммерческого и общественного секторов, а также инсталляционных и смывных систем составил около 1,02 млрд евро.
          br
          br
          | У Grohe 6 производственных площадок, две из которых находятся за рубежом, в частности в Португалии и Таиланде. Компания реализует более 82 % выпускаемой продукции за пределами Германии. По всему миру на предприятиях Grohe работает около 5000 человек.