mixin cardCategories(src, alt, text)
    .col-12
      .card.mt-3
        img.card-img-top(src=src alt=alt)
        .card-body.d-flex.align-items-center.justify-content-center
          p.card-text
            a(href="")= text

.container.categories
  .row.mt-4
    .col.text-center
      h4.categories-title.font-weight-bold Популярные товарные разделы
  .row.mt-2.owl-carousel.owl-theme
    +cardCategories("images/faucet-min.png", "faucet", "Смесители")
    +cardCategories("images/bath-min.png", "bath", "Ванны")
    +cardCategories("images/sink-min.png", "sink", "Раковины")
    +cardCategories("images/towel-dryer-min.png", "towel-dryer", "Полотенцесушители")
  
  .row.mt-4
    .col.text-center
      h4.categories-title.font-weight-bold Популярные коллекции
  .row.mt-2.owl-carousel.owl-theme
    +cardCategories("images/rozmari-min.png", "rozmari", "Розмари")
    +cardCategories("images/claida-min.png", "claida", "Клайда")
    +cardCategories("images/suon-min.png", "suon", "Суон")
    +cardCategories("images/contemporari-min.png", "contemporari", "Контемпорари")
