
header.container-fluid.header-top
  .row
    .col-12.d-flex.justify-content-center
      a(href="#")
        img(src="images/logo-min.png", alt="logo")

.container.header-center.my-2
  .row.d-flex.flex-wrap.justify-content-xl-between.align-items-center.justify-content-center
    .col-3
      img(src="images/logo-shop-min.png", alt="logo-shop" width="100%" )
    .col-3.d-flex.flex-nowrap.justify-content-between.align-items-center.mt-2.mt-lg-0.mt-xl-0
      .link-tel
          a(href="tel:+", class="font-weight-bold") 8 495 565-35-25
          br
          span.text-muted.text-nowrap Каждый день с 9 до 22
      .btn-tel.ml-2
        button.btn.btn-outline-primary.text-nowrap Заказать звонок
    .col-3.d-flex.justify-content-xl-end.align-items-center.justify-content-center.mt-2.mt-lg-0.mt-xl-0
      h4.font-weight-bold.p-0 GROHE
      
.container-fluid.header-banner
  .row
    .col-12.p-0
      img(src="images/banner-min.png", alt="logo", class="img-fluid")

