html {
  font-size: 1rem;
}
body {
  max-width: 1440px;
}
.wrapper {
  max-width: 1280px;
}

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import "./components/header/header.scss";
@import "./components/categories/categories.scss";
@import "./components/products/products.scss";
@import "./components/articles/articles.scss";
@import "./components/footer/footer.scss";