html {
  font-size: 1rem;
}
body {
  max-width: 1440px;
}
.wrapper {
  max-width: 1280px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@import "~bootstrap/scss/bootstrap";
@import "./components/header/header.scss";
@import "./components/categories/categories.scss";
@import "./components/products/products.scss";
@import "./components/articles/articles.scss";